/*skin overrides*/
body,
.km-nova h1,
.km-nova h2,
.km-nova h3,
.km-nova h4,
.km-nova h5,
.km-nova h6,
.km-nova p {font-size:18px; font-family:'Open Sans', sans-serif; }

.km-root a {color:#000000; }

.km-nova .km-navbar,
.km-nova .k-toolbar, 
.km-nova .km-tabstrip {background:#ffffff; }
.km-nova .km-tabstrip .km-button {background-color:#ffffff; background-image:none; }
.km-nova .km-tabstrip .km-button.km-state-active {background-color:#ffffff; background-image:none; }
.km-nova .km-navbar,
.km-nova .k-toolbar,
.km-nova .km-tabstrip {background-color:#ffffff; background-image:none; }

.km-nova .km-content {background-color:#f3f3f3; }

.km-nova .km-list > li label,
.km-nova .km-list fieldset textarea,
.km-nova .km-list fieldset input,
.km-nova .km-checkbox-label,
.km-nova .km-radio-label {color:#000000; }

.km-nova .km-list input {border:1px solid #676767; }
.km-nova .km-button,
.km-nova .km-buttongroup .km-button {border-radius:0px; }
.km-nova .km-button {background:#ffcc00; color:#000000; font-weight:500; }

.km-nova .km-content .km-scroll-container > h1,
.km-nova .km-content .km-scroll-container > h2,
.km-nova .km-content .km-scroll-container > h3,
.km-nova .km-content .km-scroll-container > h4,
.km-nova .km-content .km-scroll-container > h5,
.km-nova .km-content .km-scroll-container > h6,
.km-nova .km-content .km-scroll-container > p { margin-left:0px; margin-right:0px; }

.km-nova .km-pages {height: 2.5em;}
.km-nova .km-pages li {background:#ffffff; border-width:1px; border-color:#f3f3f3; height:13px; width:13px;}
.km-nova .km-pages li.km-current-page {background:#ff0000; }

/*end skin overrides */

* {font-family:'Open Sans', sans-serif; 
-webkit-box-sizing:border-box; 
-moz-box-sizing:border-box; 
-ms-box-sizing:border-box; 
-o-box-sizing:border-box; 
box-sizing:border-box; 
}
body {color:#000000; background-color:#f3f3f3; }

.spinner {position:absolute; top:50%; left:0; right:0; margin:-30px auto 0px auto; }
.spinner,
.spinner img {display:block; width:60px; height:60px; }
.spinner img {}

/*BASICS*/
.clear {clear:both; overflow:hiddne; display:block; height:0px; line-height:0px; font-size:0px; }
.center-block {display:block; margin-right:auto; margin-left:auto; }
.pull-right {float:right !important; }
.pull-left { float:left !important; }
.hide {display:none !important; }
.show {display:block !important; }

.km-nova h1,
.km-nova h2 {font-size:1.3em; line-height:1.2em; }
.km-nova h3 {}
.km-nova h4 {}
.km-nova h5 {}

/*forms*/
form {margin:0px; padding:0px; }

.button {
    margin:0; padding:3% 2%; border:0px; width:100%; 
    background:#ffcc00; 
    color:#000000; font-weight:500; font-size:1.3em; line-height:1em; 
    text-transform:uppercase; text-align:center; vertical-align:middle; 
}
a.button {display:block; text-decoration:none; }

.button-group {}
.button-group.button-group-vertical {}

.km-nova .km-list input[type="password"],
.km-nova .km-list input[type="search"],
.km-nova .km-list input[type="number"], 
.km-nova .km-list input[type="tel"], 
.km-nova .km-list input[type="url"], 
.km-nova .km-list input[type="email"], 
.km-nova .km-list input[type="month"], 
.km-nova .km-list input[type="color"], 
.km-nova .km-list input[type="week"], 
.km-nova .km-list input[type="date"], 
.km-nova .km-list input[type="time"], 
.km-nova .km-list input[type="datetime"], 
.km-nova .km-list input[type="datetime-local"], 
.km-nova .km-list input[type="text"]:not(.k-input), 
.km-nova .km-list select:not([multiple]),
.km-nova .km-list .k-dropdown-wrap, 
.km-nova .km-list textarea { border:1px solid #676767; }

.km-nova .signin-view form .km-list,
.km-nova .signup-view form .km-list {margin:20px 0 0 0; }
.km-nova .signin-view form .km-list li,
.km-nova .signup-view form .km-list li {padding-left:2%; padding-right:2%; }
.km-nova .signin-view form .km-list label,
.km-nova .signup-view form .km-list label {display:block; font-size:1.3em; }
.km-nova .signin-view form .km-list input,
.km-nova .signup-view form .km-list input {right:2%; }
.signin-view form .button-group {}
.km-nova .signin-view form .km-button,
.km-nova .signup-view form .km-button {text-transform:uppercase; font-size:1.3em; display:block; margin:0px; border:0px; border-bottom:1px solid #676767; }

/*end forms*/

/*end BASICS*/


/*LAYOUT*/

/*grid*/
.row:before,
.row:after,
.clearfix:before,
.clearfix:after {display:table; content:" "; }
.row:after,
.clearfix:after {clear:both; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position:relative; min-height:1px; float:left; 
}
.col-12 {width:100%; }
.col-11 {width:91.66666667%; }
.col-10 {width:83.33333333%; }
.col-9 {width:75%; }
.col-8 {width:66.66666667%; }
.col-7 {width:58.33333333%; }
.col-6 {width:50%; }
.col-5 {width:41.66666667%; }
.col-4 {width:33.33333333%; }
.col-3 {width:25%; }
.col-2 {width:16.66666667%; }
.col-1 {width:8.33333333%; }
/*end grid*/

#navigation-container {padding-left:5%; padding-right:5%; }
/*#reports-nav {padding-left:2%; padding-right:2%; }*/

/*end LAYOUT*/


/*NAVS*/

.km-nova .km-tabstrip {height:95px; }
#navigation-container.km-tabstrip .km-button {}
#navigation-container.km-tabstrip .km-button .km-icon {color:#7b7b7b; font-size:58px; width:auto; height:auto; }
#navigation-container.km-tabstrip .km-button.km-state-active .km-icon {color:#000000; }
#navigation-container.km-tabstrip .km-button:nth-child(1) {text-align:left; }
#navigation-container.km-tabstrip .km-button:nth-child(2) {text-align:center; }
#navigation-container.km-tabstrip .km-button:nth-child(3) {text-align:right; }
#navigation-container.km-tabstrip .km-button:nth-child(1) .km-icon {font-size:58px; }
#navigation-container.km-tabstrip .km-button:nth-child(2) .km-icon {font-size:68px; }
#navigation-container.km-tabstrip .km-button:nth-child(3) .km-icon {font-size:58px; }

#reports-nav {display:table; width:96%; text-align:center; margin:0px auto 20px auto; }
#reports-nav #reports.km-widget.km-buttongroup {display:table-row; }
#reports-nav #reports.km-widget.km-buttongroup li {display:table-cell; }
#reports.km-widget.km-buttongroup {}
#reports.km-widget.km-buttongroup .km-button {height:70px; border-width:1px; border-style:solid; border-color:#333333; font-size:1.6em; letter-spacing:0.5px; background:#ffffff; text-transform:normal; }
#reports.km-widget.km-buttongroup .km-button:first-child {
    border-top-left-radius:35px; 
    border-bottom-left-radius:35px; 
}
#reports.km-widget.km-buttongroup .km-button:last-child {
    border-top-right-radius:35px; 
    border-bottom-right-radius:35px; 
}
#reports.km-widget.km-buttongroup .km-state-active {background-color:#333333; background-image:none; }

/*end NAVS*/


/*VIEW HOME*/

.listview-item {position:relative; overflow:hidden; width:100%; }
.listview-item .item-img {display:block; width:100%; min-height:100%; text-align:center; margin:0px auto; }
.listview-item .profile-img {
    z-index:1; position:absolute; top:20px; left:2%; 
	width:78px; height:78px; overflow:hidden; 
    background-color:#ffffff; 
    border:2px solid #ffffff; 
    -webkit-border-radius:78px; 
    -moz-border-radius:78px; 
    -ms-border-radius:78px; 
    -o-border-radius:78px; 
    border-radius:78px; 
}
.listview-item .profile-img img {display:block; width:100%; height:auto; }
.listview-item .box-top-right {z-index:1; position:absolute; top:20px; right:2%; }
.listview-item .report-date,
.listview-item .report-followers {
    float:right; 
    white-space:nowrap; 
    clear:both; 
    background-color:rgba(0, 0, 0, 0.5); 
    padding:5px; 
    color:#ffffff; 
    line-height:1.2em; 
    -webkit-border-radius:5px; 
    -moz-border-radius:5px; 
    -ms-border-radius:5px; 
    -o-border-radius:5px; 
    border-radius:5px; 
}
.listview-item .report-date {margin-bottom:20px; font-size:1.5em; }
.listview-item .report-date .km-icon,
.listview-item .report-followers .km-icon {padding-right:5px; }
.listview-item .report-followers {font-size:1.4em; text-align:center; padding-left:15px; padding-right:15px; }
.listview-item .ad-category-info {
    z-index:1; position:absolute; bottom:0px; left:0px; right:0px; 
    background-color:rgba(0, 0, 0, 0.5); 
    padding:0px 2%; 
}
.listview-item .ad-category-info .address {
    display:table-cell; height:85px; vertical-align:middle; 
    color:#ffffff; 
    font-size:1.5em; 
    line-height:1.2em; 
    padding:5px 85px 5px 0; 
}
.listview-item .ad-category-info .address .km-icon-pinmap {font-size:0.8em; line-height:1.2em; padding-right:10px; }
.listview-item .ad-category-info .category {z-index:2; position:absolute; right:2%; top:5px; }
.listview-item .ad-category-info .category .km-button {
    display:block; 
    position:relative; 
    margin:0px; padding:0px; 
    background-color:#ff6b6b; 
    width:75px; 
    height:75px; 
    line-height:65px; vertical-align:middle; 
    border:3px solid #ffffff; 
    color:#000000; 
    text-align:center; 
    -webkit-border-radius:75px; 
    -moz-border-radius:75px; 
    -ms-border-radius:75px; 
    -o-border-radius:75px; 
    border-radius:75px; 
}
.listview-item .ad-category-info .category .km-icon {color:#000000; margin:auto; font-size:3.3em; vertical-align:middle; }

/*end VIEW HOME*/


/*VIEW FORM VIEW*/

#report-view {
    background-image:url("../images/start-new-report-bg.jpg"); 
    background-position:center center; 
    background-repeat:no-repeat; 
    background-attachment:fixed; 
    background-size:auto auto; 
}
#report-view .km-content {background-color:#f3f3f3; }

.start-report-view {}
.start-report-view .fullscreen {text-align:center; display:table; height:100px; width:100%; }
.start-report-view .fullscreen .fullscr-row {display:table-row; }
.start-report-view .fullscreen .fullscr-top {padding:4% 2%; }
.start-report-view .fullscreen .fullscr-middle {padding:2%; }
.start-report-view .fullscreen .fullscr-bottom {padding:4% 2% 2% 2%; }
.start-report-view h1,
.start-report-view h2,
.start-report-view h3 {
    display:inline-block; 
    width:auto; 
    margin:0 auto; padding:5px 5px 10px 5px; 
    background-color:rgba(0, 0, 0, 0.5); 
    color:#fff; 
    text-align:center; 
    line-height:1em; 
    font-weight:normal; 
    border-top-right-radius:15%; 
    border-top-left-radius:15%; 
    border-bottom-right-radius:15%; 
    border-bottom-left-radius:15%; 
}
.start-report-view h1 {font-size:2em; margin-bottom:5%; }
.start-report-view h2 {font-size:1.7em; margin-bottom:5%; }
.start-report-view h3 {font-size:1.5em; }
.start-report-view .circle-button {
    position:relative; 
    display:block; margin:auto; 
    height:410px; width:410px; 
    text-align:center; 
    border-radius:100%; border:0px; 
    /* Permalink - use to edit and share this gradient:http://colorzilla.com/gradient-editor/#dcdcdd+0,dcdcdd+48,aebfaf+49,aebfaf+100&0.75+0,0.75+100 */
    background:-moz-radial-gradient(center, ellipse cover, rgba(211, 212, 217, 0.75) 0%, rgba(211, 212, 217, 0.75) 52.9%, rgba(48, 107, 52, 0.30) 53%, rgba(48, 107, 52, 0.30) 100%); 
    /* FF3.6-15 */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(211, 212, 217, 0.75) 0%, rgba(211, 212, 217, 0.75) 52.9%, rgba(48, 107, 52, 0.75) 53%, rgba(48, 107, 52, 0.30) 100%); 
    /* Chrome10-25,Safari5.1-6 */
    background:radial-gradient(ellipse at center, rgba(211, 212, 217, 0.75) 0%, rgba(211, 212, 217, 0.75) 52.9%, rgba(48, 107, 52, 0.30) 53%, rgba(48, 107, 52, 0.30) 100%); 
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfdcdcdd', endColorstr='#bfaebfaf', GradientType=1); 
    /* IE6-9 fallback on horizontal gradient */
}
.start-report-view .circle-button div {
    position:absolute; 
    top:25%; 
    left:0; right:0; 
    margin:auto; padding-top:21%; 
    display:block; 
    height:50%; width:50%; 
    border-radius:100%; 
    text-align:center; vertical-align:middle; 
    font-size:2em; line-height:100%; 
    color:#ffffff; 
    /* Permalink - use to edit and share this gradient:http://colorzilla.com/gradient-editor/#000000+0,000000+25,b2162a+25,b2162a+100 */
    background:rgb(0, 0, 0); 
    /* Old browsers */
    background:-moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 37.9%, rgba(178, 22, 42, 1) 38%, rgba(178, 22, 42, 1) 100%); 
    /* FF3.6-15 */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 37.9%, rgba(178, 22, 42, 1) 38%, rgba(178, 22, 42, 1) 100%); 
    /* Chrome10-25,Safari5.1-6 */
    background:radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 37.9%, rgba(178, 22, 42, 1) 38%, rgba(178, 22, 42, 1) 100%); 
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#b2162a', GradientType=1); 
    /* IE6-9 fallback on horizontal gradient */
}
.start-report-view .circle-button div .km-icon {}

.coat-of-arms {
    display:inline-block; 
    width:135px; 
    height:135px; 
    background:#ffffff; 
    margin:auto; 
    padding:5px; 
    overflow:hidden; 
    border:1px solid #0a0a0a; 
    -webkit-border-radius:100%; 
    -moz-border-radius:100%; 
    -ms-border-radius:100%; 
    -o-border-radius:100%; 
    border-radius:100%; 
}
.coat-of-arms img {width:100%; height:auto; }
#cityInfo {margin-top:10%; position:relative; }

.steps-view {display:block; clear:both; overflow:hidden; background-color:rgb(129, 129, 129); width:100%; }
.steps-view,
.steps-view div {height:95px; }
.steps-view div {display:table-cell; vertical-align:middle; text-align:center; color:#000000; font-size:3.5em; line-height:1.4em; }
.steps-view .active-step {background-color:rgb(27, 167, 84); }
.steps-view div .km-icon,
.steps-view div .km-icon:after,
.steps-view div .km-icon:before {display:inline; }

.photos-view h1,
.comment-view h1,
.comment-view h2,
.user-info-view h1,
.user-info-view h2 {
    width:100%; margin:0px; padding:0; background:#ffffff; 
    color:#000000; text-align:center; vertical-align:middle; 
    margin:0; padding:4% 2%; font-size:1.3em; line-height:1.2em; font-weight:500; 
}
.comment-view h2 .km-icon {font-size:2em; vertical-align:middle; }

.photos-view h4 {margin:0; padding:0; font-size:1.2em; line-height:1em; }
.photos-view .add-another-photo {padding:4% 2% 5% 2%; background:#000000; color:#616161; text-align:center; }
.photos-view .add-another-photo h4 {color:#818181; margin:0px; padding-top:3%; font-size:1em; line-height:1em; }
.photos-view .another-photo .km-icon {font-size:5em; color:#818181; }
.photos-view .photo {display:block; }
.photos-view .scrolview-photos {position:relative; display:block; }
.photos-view .scrolview-photos img {width:100%; height:auto; }
.photos-view .scrolview-photos .km-pages {position:absolute; z-index:10; bottom:0px; left:0px; right:0px; width:100%; padding:0 0 1em 0; }

.comment-view {background:#f3f3f3; }
.comment-view h2 .km-icon {margin:0 10px 0 0;}
.comment-view h2.comment-view-h2 .km-icon {margin:-7px 10px -7px 0;}
.comment-view #categories {width:100%; clear:both; overflow:hidden; background:#1c1c1c; border:1px solid #1c1c1c; border-bottom-width:2px; }
.comment-view #categories div {
    float:left; padding:3% 0 5% 0; color:#000000; background:#1c1c1c; color:#ffffff; text-align:center; 
    border-bottom:1px solid #333333; border-right:1px solid #333333; 
}
.comment-view #categories div:nth-child(4n+4) {border-right:0px; }
.comment-view #categories div h5 {
    margin:0; padding:8% 0 0 0; 
    font-size:1.1em; line-height:1em; 
    letter-spacing:0.5px; 
    font-weight:500; color:#ffffff; 
    text-align:center; 
    text-transform:uppercase; 
}
.comment-view #categories div .km-icon {font-size:3.5em; height:70px; }
.comment-view #categories div:nth-child(1) .km-icon {}
.comment-view #categories div:nth-child(2) .km-icon {font-size:4em; }
.comment-view #categories div:nth-child(3) .km-icon {font-size:4em; }
.comment-view #categories div:nth-child(4) .km-icon {}
.comment-view #categories div:nth-child(5) .km-icon {}
.comment-view #categories div:nth-child(6) .km-icon {font-size:4em; }
.comment-view #categories div:nth-child(7) .km-icon {}
.comment-view #categories div:nth-child(1) .km-icon {}
.comment-view #categories .activeCategory {background:#e94242; color:#000000; }
.comment-view #categories .activeCategory h5 {color:#000000; }

.comment-txtarea {background:#f3f3f3; padding:2% 15%; }
.comment-txtarea textarea {background:#f3f3f3; border:0px; resize:none; width:100%; font-size:1em; }

.user-info-view .municipality {
    position:relative; width:100%; clear:both; overflow:hidden; text-align:center; 
    background-image:url("../images/report-send-to-bg.jpg"); 
    background-repeat:no-repeat; 
 	background-position:center center; 
    background-size:cover; 
}
.user-info-view .municipality,
.user-info-view .municipality div.col-5,
.user-info-view .municipality div.col-7 {height:325px; }
.user-info-view .municipality div {text-align:center; }
.user-info-view .municipality div.col-5,
.user-info-view .municipality div.col-7 {vertical-align:middle; text-align:center; display:inline-flex; }
.user-info-view .municipality .coat-of-arms {margin:auto; text-align:center; }
.user-info-view .municipality #city {margin:auto; text-align:center; }
.user-info-view .municipality #city h3 {color:#ffffff; font-size:1.6em; text-align:center; }
.user-info-view #userInfo {background:#1c1c1c; padding:7% 0 1% 0; }
.user-info-view #userInfo div {
    font-size:1.9em; width:100%; clear:both; overflow:hidden; color:#ffffff; text-align:right; 
	padding:2% 5%; vertical-align:baseline; line-height:1.2em; font-weight:500; 
}
.user-info-view #userInfo div label {float:left; font-size:0.8em; text-transform:uppercase; }

.prev-next.km-footer {background:#818181; }
.prev-next.km-footer .km-tabstrip .km-button:nth-child(1) {background:#818181; color:#000000; }
.prev-next.km-footer .km-tabstrip .km-button:nth-child(2) {background:#22c064; color:#000000; }
.prev-next.km-footer .km-tabstrip .km-button.km-state-active {}
.prev-next.km-footer .km-tabstrip .km-button .km-icon {font-size:4.5em; color:#000000; }
.prev-next.km-footer .navigation {}
.prev-next.km-footer .send {}

/*end VIEW FORMVIEW*/

/*VIEW SELECTED REPORT*/
.ReportView {}
.wrap-report-photos {position:relative; width:100%; }
.ReportView h2 {
    background:#818181; text-align:center; font-size:1.4em; line-height:1em; color:#fefeff; text-transform:uppercase; 
	margin:0; padding:4% 2%; font-size:1.3em; line-height:1.2em; font-weight:500; 
    border-bottom:1px solid #414242; border-top:1px solid #676767; 
}
#selectedReportView {position:relative; width:100%; }
#selectedReportView img {width:100%; height:auto; }
#selectedReportView .km-pages {position:absolute; z-index:10; bottom:0px; left:0px; right:0px; width:100%; padding:0 0 1em 0; }
#reportInfo {}
#reportInfo .info-row {
    font-size:2em; width:100%; clear:both; overflow:hidden; color:#fffefe; text-align:right; 
	padding:3% 5% 2% 5%; vertical-align:baseline; line-height:1.2em; font-weight:500; 
    background:#515253; border-bottom:1px solid #aaaaaa; 
}
#reportInfo .info-row label {float:left; font-size:0.7em; text-transform:uppercase; color:#fffefe; }
#reportInfo .info-row.comment-info {background:#f3f3f3; padding:0px; text-align:left; color:#262626; }
#reportInfo .info-row.comment-info label {float:none; text-align:left; padding:5% 5% 2% 5%; display:block; background:#515253; border-bottom:1px solid #aaaaaa; }
#reportInfo .info-row.comment-info .comment-txt {padding:2% 10%; border-top:1px solid #515253; font-size:0.7em; }
.ReportView #locationMap {width:100%;height:600px;}
/*end VIEW SELECTED REPORT*/

/*VIEW SELECTED Update REPORT*/
#updateReportView {position:relative; width:100%; }
#updateReportView img {width:100%; height:auto; }
#updateReportView .km-pages {position:absolute; z-index:10; bottom:0px; left:0px; right:0px; width:100%; padding:0 0 1em 0; }
#updateRportInfo {}
#updateRportInfo .info-row {
    font-size:1.5em; width:100%; clear:both; overflow:hidden; color:#fffefe; text-align:right; 
	padding:3% 5% 2% 5%; vertical-align:baseline; line-height:1.2em; font-weight:500; 
    background:#515253; border-bottom:1px solid #aaaaaa; 
}
#updateRportInfo .info-row label {float:left; font-size:0.7em; text-transform:uppercase; color:#fffefe; }
#updateRportInfo .info-row.comment-info {background:#f3f3f3; padding:0px; text-align:left; color:#262626; }
#updateRportInfo .info-row.comment-info label {float:none; text-align:left; padding:5% 5% 2% 5%; display:block; background:#515253; border-bottom:1px solid #aaaaaa; }
#updateRportInfo .info-row.comment-info .comment-txt {padding:2% 10%; border-top:1px solid #515253; font-size:0.7em; }
/*end VIEW SELECTED REPORT*/

/*VIEW SELECTED NEW REPORT*/
#newReportView {position:relative; width:100%; }
#newReportView img {width:100%; height:auto; }
#newReportView .km-pages {position:absolute; z-index:10; bottom:0px; left:0px; right:0px; width:100%; padding:0 0 1em 0; }
#newRportInfo {}
#newRportInfo .info-row {
    font-size:1.5em; width:100%; clear:both; overflow:hidden; color:#fffefe; text-align:right; 
	padding:3% 5% 2% 5%; vertical-align:baseline; line-height:1.2em; font-weight:500; 
    background:#515253; border-bottom:1px solid #aaaaaa; 
}
#newRportInfo .info-row label {float:left; font-size:0.7em; text-transform:uppercase; color:#fffefe; }
#newRportInfo .info-row.comment-info {background:#f3f3f3; padding:0px; text-align:left; color:#262626; }
#newRportInfo .info-row.comment-info label {float:none; text-align:left; padding:5% 5% 2% 5%; display:block; background:#515253; border-bottom:1px solid #aaaaaa; }
#newRportInfo .info-row.comment-info .comment-txt {padding:2% 10%; border-top:1px solid #515253; font-size:0.7em; }
/*end VIEW SELECTED REPORT*/


/*MEDIA*/

@media screen and (max-width:480px) {
    body,
    .km-nova h1,
    .km-nova h2,
    .km-nova h3,
    .km-nova h4,
    .km-nova h5,
    .km-nova h6,
    .km-nova p {font-size:16px; }
    
    .km-nova .km-tabstrip {height:50px; min-height:auto; }
    
	.km-nova .km-pages {height:1.5em;}
    
    .button {padding:3% 2%; font-size:1.1em; line-height:1em;}
    
    #navigation-container.km-tabstrip .km-button .km-icon,
    #navigation-container.km-tabstrip .km-button:nth-child(1) .km-icon,
    #navigation-container.km-tabstrip .km-button:nth-child(2) .km-icon,
    #navigation-container.km-tabstrip .km-button:nth-child(3) .km-icon {font-size:4em; }

    #reports-nav {display:table; width:96%; text-align:center; margin:0px auto 10px auto; }
    #reports.km-widget.km-buttongroup .km-button {height:36px; font-size:1em; letter-spacing:0.5px; }
    #reports.km-widget.km-buttongroup .km-button:first-child {border-top-left-radius:18px; border-bottom-left-radius:18px; }
    #reports.km-widget.km-buttongroup .km-button:last-child {border-top-right-radius:18px; border-bottom-right-radius:18px; }

/*media view home*/
    .listview-item .profile-img {top:10px; left:2%; width:40px; height:40px; 
        -webkit-border-radius:40px; 
        -moz-border-radius:40px; 
        -ms-border-radius:40px; 
        -o-border-radius:40px; 
        border-radius:40px; 
    }
    .listview-item .box-top-right {top:10px; right:2%; }
    .listview-item .report-date {margin-bottom:10px; font-size:1em; }
    .listview-item .report-date .km-icon,
    .listview-item .report-followers .km-icon {padding-right:5px; }
    .listview-item .report-followers {font-size:1.1em; padding-left:10px; padding-right:10px; }
    .listview-item .ad-category-info .address {height:55px; font-size:1em; line-height:1.2em; padding:5px 65px 5px 0; }
    .listview-item .ad-category-info .address .km-icon-pinmap {font-size:0.8em; line-height:1.2em; padding-right:5px; }
    .listview-item .ad-category-info .category .km-button {
        width:45px; height:45px; border-width:2px; 
        -webkit-border-radius:45px; 
        -moz-border-radius:45px; 
        -ms-border-radius:45px; 
        -o-border-radius:45px; 
        border-radius:45px; 
    }
    .listview-item .ad-category-info .category {z-index:2; position:absolute; right:2%; top:5px; }
    .listview-item .ad-category-info .category .km-button {line-height:35px; }
    .listview-item .ad-category-info .category .km-icon {font-size:2.7em; }

    
/*end media view home*/

 
/*media form view*/

    .start-report-view .fullscreen .fullscr-top {padding:4% 2%; }
	.start-report-view .fullscreen .fullscr-middle {padding:2%; }
	.start-report-view .fullscreen .fullscr-bottom {padding:4% 2% 2% 2%; }
	.start-report-view h1,
	.start-report-view h2,
	.start-report-view h3 {padding:5px; line-height:1em; }
	.start-report-view h1 {font-size:1.3em; margin-bottom:5%; }
	.start-report-view h2 {font-size:1.2em; margin-bottom:5%; }
	.start-report-view h3 {font-size:1em; }
    .start-report-view .circle-button {height:220px; width:220px; }
	.start-report-view .circle-button div {padding-top:20%; font-size:1.5em; }
	.start-report-view .circle-button div .km-icon {}
	.coat-of-arms {width:80px; height:80px; padding:5px; }
	#cityInfo {margin-top:10%; }

	.steps-view,
	.steps-view div {height:45px; }
	.steps-view div {font-size:2em; line-height:1em; }

    .photos-view h1,
    .comment-view h1,
    .comment-view h2,
    .user-info-view h1,
    .user-info-view h2  {padding:4% 2%; font-size:1.1em; line-height:1.2em;}
    .photos-view .add-another-photo {padding:2% 2% 3% 2%; }
	.photos-view .add-another-photo h4 {font-size:1em; line-height:1em; }
	.photos-view .another-photo .km-icon {font-size:2em; }
    .comment-view h2 .km-icon {font-size:1.5em; }  
	.prev-next.km-footer .km-tabstrip .km-button {padding-top:10px; }
	.prev-next.km-footer .km-tabstrip .km-button .km-icon {font-size:3em; }
    
    .comment-view #categories div {padding:2% 0 4% 0; }
    .comment-view #categories div h5 {padding:2% 0 0 0; font-size:0.5em; letter-spacing:0.2px; }
    .comment-view #categories div .km-icon {font-size:2em; height:45px; }
    .comment-view #categories div:nth-child(1) .km-icon {}
    .comment-view #categories div:nth-child(2) .km-icon {font-size:2.5em; }
    .comment-view #categories div:nth-child(3) .km-icon {font-size:2.5em; }
    .comment-view #categories div:nth-child(4) .km-icon {}
    .comment-view #categories div:nth-child(5) .km-icon {}
    .comment-view #categories div:nth-child(6) .km-icon {font-size:2.5em; }
    .comment-view #categories div:nth-child(7) .km-icon {}
    .comment-view #categories div:nth-child(1) .km-icon {}

    .comment-txtarea {padding:2% 5%; }

    .user-info-view .municipality,
    .user-info-view .municipality div.col-5,
    .user-info-view .municipality div.col-7 {height:150px; }
	.user-info-view .municipality #city h3 {font-size:1.3em; }
	.user-info-view #userInfo {padding:7% 0 1% 0; }
	.user-info-view #userInfo div {font-size:1.1em; padding:2% 5%; }
	.user-info-view #userInfo div label {}
    
    /*end media form view*/ 

    
    /*media selected report view*/ 

    .ReportView h2 {padding:4% 2%; font-size:1.1em; line-height:1.2em; font-weight:500; }
    #reportInfo .info-row { font-size:1.3em; padding:3% 5% 2% 5%; line-height:1.2em; }
    #reportInfo .info-row label {font-size:0.8em;}
    #reportInfo .info-row.comment-info {padding:0px; }
    #reportInfo .info-row.comment-info label {padding:5% 5% 2% 5%;}
    #reportInfo .info-row.comment-info .comment-txt {padding:2% 10%; font-size:0.8em; }
	.ReportView #locationMap {width:100%;height:300px;}
    
    /*end media selected report view*/ 
    
}


@media screen and (max-width:480px) {

    .km-nova .signin-view form  .km-list input[type="password"],
    .km-nova .signin-view form  .km-list input[type="search"],
    .km-nova .km-list input[type="number"],
    .km-nova .km-list input[type="tel"],
    .km-nova .km-list input[type="url"], 
    .km-nova .km-list input[type="email"],
    .km-nova .km-list input[type="month"],
    .km-nova .km-list input[type="color"],
    .km-nova .km-list input[type="week"],
    .km-nova .km-list input[type="date"],
    .km-nova .km-list input[type="time"],
    .km-nova .km-list input[type="datetime"], 
    .km-nova .km-list input[type="datetime-local"],
    .km-nova .km-list input[type="text"]:not(.k-input),
    .km-nova .km-list select:not([multiple]),
    .km-nova .km-list .k-dropdown-wrap,
    .km-nova .km-list textarea {transform:translateY(5%); position:relative; top:auto; left:auto; right:auto; width:100%; font-size:1em; }

    .km-nova .signin-view form .km-list,
    .km-nova .signup-view form .km-list {margin:20px 0 0 0; }
    .km-nova .signin-view form .km-list li,
    .km-nova .signup-view form .km-list li {padding-top:10px; padding-bottom:25px; }
    .km-nova .signin-view form .km-list label,
    .km-nova .signup-view form .km-list label {font-size:1em; }
    .km-nova .signin-view form .km-list input,
    .km-nova .signup-view form .km-list input {transform:translateY(5%); position:relative; top:auto; left:auto; right:auto; width:100%; font-size:1em; }
    .km-nova .signin-view form .km-button,
    .km-nova .signup-view form .km-button {font-size:1em; }

    
}




/*end MEDIA*/





/*FONT ICONS*/

@font-face {
    font-family:'icomoon'; 
    src:url('fonts/icomoon.eot?5irnf1'); 
    src:url('fonts/icomoon.eot?5irnf1#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?5irnf1') format('truetype'), url('fonts/icomoon.woff?5irnf1') format('woff'), url('fonts/icomoon.svg?5irnf1#icomoon') format('svg'); 
    font-weight:normal; 
    font-style:normal; 
}
[class^="km-icon-"], [class*=" km-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family:'icomoon' !important; 
    speak:none; 
    font-style:normal; 
    font-weight:normal; 
    font-variant:normal; 
    text-transform:none; 
    line-height:1; 

    /* Better Font Rendering =========== */
    -webkit-font-smoothing:antialiased; 
    -moz-osx-font-smoothing:grayscale; 
}

.km-icon:after,
.km-icon:before {
    font-family:'icomoon'; 
}

.km-icon {
    display:inline-block; 
    width:auto; 
    height:auto; 
    line-height:1em; 
    text-align:center; 
}
.km-icon-follower:after {
    content:"\e916"; 
}
.km-icon-animals:after {
    content:"\e904"; 
}
.km-icon-criminal:after {
    content:"\e908"; 
}
.km-icon-malfunction:after {
    content:"\e909"; 
}
.km-icon-noise:after {
    content:"\e90a"; 
}
.km-icon-others:after {
    content:"\e90b"; 
}
.km-icon-parking:after {
    content:"\e90c"; 
}
.km-icon-photo:after {
    content:"\e90d"; 
}
.km-icon-pollution:after {
    content:"\e90e"; 
}
.km-icon-back:after {
    content:"\e900"; 
}
.km-icon-construction:after {
    content:"\e901"; 
}
.km-icon-people:after {
    content:"\e902"; 
}
.km-icon-pin:after {
    content:"\e903"; 
}
.km-icon-tool:after {
    content:"\e905"; 
}
.km-icon-pavement:after {
    content:"\e906"; 
}
.km-icon-write:after {
    content:"\e907"; 
}
.km-icon-comment:after {
    content:"\e90f"; 
}
.km-icon-clock:after {
    content:"\e910"; 
}
.km-icon-pinmap:after {
    content:"\e911"; 
}
.km-icon-plus:after {
    content:"\e912"; 
}
.km-icon-arrow-left:after {
    content:"\e913"; 
}
.km-icon-arrow-right:after {
    content:"\e914"; 
}
.km-icon-circle-plus:after {
    content:"\e915"; 
}
#counter-update-reports {
    padding-left: 13%;
}
/*end FONT ICONS*/
.spin-position{
    position: relative;
    top: 30%;
    left: 25%;
}
.spinner {
    margin-top: 0.1%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #302929;
    opacity: 0.7;
    z-index: 3;
}
@-webkit-keyframes uil-default-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes uil-default-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.uil-default-css > div:nth-of-type(1) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(2) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: -0.52s;
    animation-delay: -0.52s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(3) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: -0.43999999999999995s;
    animation-delay: -0.43999999999999995s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(4) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: -0.36s;
    animation-delay: -0.36s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(5) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: -0.27999999999999997s;
    animation-delay: -0.27999999999999997s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(6) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: -0.19999999999999996s;
    animation-delay: -0.19999999999999996s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(7) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: -0.12000000000000005s;
    animation-delay: -0.12000000000000005s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(8) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: -0.039999999999999925s;
    animation-delay: -0.039999999999999925s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(9) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: 0.040000000000000036s;
    animation-delay: 0.040000000000000036s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(10) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: 0.12s;
    animation-delay: 0.12s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(11) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: 0.20000000000000007s;
    animation-delay: 0.20000000000000007s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(12) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: 0.28s;
    animation-delay: 0.28s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(13) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: 0.3599999999999999s;
    animation-delay: 0.3599999999999999s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(14) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: 0.44000000000000006s;
    animation-delay: 0.44000000000000006s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(15) {
    -webkit-animation: uil-default-anim 1.2s linear infinite;
    animation: uil-default-anim 1.2s linear infinite;
    -webkit-animation-delay: 0.5200000000000001s;
    animation-delay: 0.5200000000000001s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.profile-image {
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    top: 1%;
    left: 2%;
}
.styled-select select option{
   font-size: 1.2em;
   text-align: center;
    width: 100%;
   }
.styled-select select {
   font-size: 1.2em;
   color: #fefeff;
   background: transparent;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   text-align-last:center;
    width: 100%;
   }
.styled-select {
   	background: #818181;
    text-align: center;
    line-height: 1em;
    color: #fefeff;
    text-transform: uppercase;
    margin: 0;
    padding: 4% 2%;
    line-height: 1.2em;
    font-weight: 500;
    border-bottom: 1px solid #414242;
    border-top: 1px solid #676767;
    width: 100%;
   }

.km-tabstrip .km-text {
    display: block;
    color: #565656;
}